body, html, * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    font-weight: 400;
}

body {
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

#box {
    background-color: #21D19F;
    height: 30vh;
    width: 100vw;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: -2; */
}